.card{
    background-color: rgba(0, 0, 0, 0.637);
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 250px;
}

.card:hover{
    background-color: black;
}

.btn{
    width: 100%;
    cursor: pointer;
}